<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Match_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-match_id" data-rule="required" data-source="match/index" class="form-control selectpage" name="row[match_id]" type="text" value="{$row.match_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Invest_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-invest_name" class="form-control" name="row[invest_name]" type="text" value="{$row.invest_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Invest_stage')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-invest_stage" class="form-control" name="row[invest_stage]" type="text" value="{$row.invest_stage|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Invest_amount')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-invest_amount" class="form-control" name="row[invest_amount]" type="number" value="{$row.invest_amount|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Gain_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-gain_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[gain_time]" type="text" value="{$row.gain_time}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
