<div class="foot hbg">
    <div class="container">
        <div class="foot_item mr24 fl">
            <div class="f_title"><b>主办单位</b><span class="f_tip f_lgray"><b>承办单位</b></span></div>
            <div class="f_det">
                主办单位：吉林省高等学校毕业生就业指导中心<br/>

                承办单位：吉林省大学生就业创业协会
            </div>
        </div>
        <div class="foot_item mr24 fl">
            <div class="f_title"><b>大赛组委会联系方式</b></div>
            <div class="f_det">
                电子邮箱：15834550000@163.com<br />
                邮寄地址：长春市经济开发区金川街151号<br />
                省高校毕业生就业指导中心504室<br />
                联系人：宋 姣   王 崴<br />
                电  话：0431-84685992  15834550000<br />

            </div>
        </div>
        <div class="foot_item fr">
            <div class="f_title"><b>大赛技术支持</b></div>
            <div class="f_det">
                北京位来教育科技有限公司<br />
                联系人：金晓彤<br />
                电话：15904317043
            </div>
        </div>
    </div>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?4a6c3ea97fc1be09f0fd3cc1a30507cf";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();

        (function() {var _53code = document.createElement("script");_53code.src = "https://tb.53kf.com/code/code/061c0643143fb48c0ba8ed392b950cb06/1?u_cust_id={$title}&u_cust_name={$title}&u_custom_info={$title}";var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(_53code, s);})();
    </script>
</div>