<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Item_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-item_id" data-rule="required" data-source="item/index" class="form-control selectpage" name="row[item_id]" type="text" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Patent_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-patent_name" data-rule="required" class="form-control" name="row[patent_name]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Patent_no')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-patent_no" class="form-control" name="row[patent_no]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Gain_date')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-gain_date" class="form-control datetimepicker" data-date-format="YYYY-MM-DD" data-use-current="true" name="row[gain_date]" type="text" value="{:date('Y-m-d')}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Patent_type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-patent_type" class="form-control" name="row[patent_type]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Patent_image')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-patent_image" class="form-control" size="50" name="row[patent_image]" type="text">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-patent_image" class="btn btn-danger plupload" data-input-id="c-patent_image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-patent_image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-patent_image" class="btn btn-primary fachoose" data-input-id="c-patent_image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-patent_image"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-patent_image"></ul>
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
